/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define QUICK_TAP_MS 175
#define XXX &none
#define ___ &trans

&sk {
        release-after-ms = <60000>;
};

/ {
    ZMK_MACRO(recover, bindings = <&out OUT_RECOVER>;)
    ZMK_MACRO(change, bindings = <&out OUT_FN>;)
    ZMK_MACRO(fn_win, bindings = <&out OUT_FN_WIN>;)

    ZMK_MACRO(en_bootloader, bindings = <&bootloader>;)
    ZMK_MACRO1(MA,bindings=<&kp 0x770000>;)

    long_press_recover:l1 {
        compatible = "zmk,behavior-hold-tap";
        label = "l1";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&recover>, <&none>;
    };

    long_press_change:l2{
        compatible = "zmk,behavior-hold-tap";
        label = "lp_change";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&change>, <&none>;
    };
    long_press_bootloader:l3{
        compatible = "zmk,behavior-hold-tap";
        label = "lp_bootloader";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&en_bootloader>, <&none>;
    };
    long_press_fn_win:l4{
        compatible = "zmk,behavior-hold-tap";
        label = "lp_fn_win";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;
        bindings = <&fn_win>, <&none>;
    };

    macros {
        // for my caps-word
        kp_unshift: kp_unshift {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_release &kp RSHFT>,
                       <&macro_tap &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "KP_UNSHIFT";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        // language switching win/lin
        // Assuming following system shortcuts:
        // - Control-Shift-8 = us
        // - Control-Shift-9 = ru
        // - Control-Shift-7 = Colemak-DH ANSI (optional, but recommended)
        // (can be easily set up on latest KDE Plasma or Windows)
        lg_en: lg_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp_unshift LC(LS(N8))>;
            label = "LG_EN";
        };

        lg_ru: lg_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp_unshift LC(LS(N9))>;
            label = "LG_RU";
        };

        switch_en: switch_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &lg_en>;
            label = "SWITCH_EN";
        };

        switch_ru: switch_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &lg_ru>;
            label = "SWITCH_RU";
        };

        // symbols via switch
        ruen: ruen {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&lg_en &macro_param_1to1 &kp_unshift MACRO_PLACEHOLDER &lg_ru>;
            label = "RUEN";
        };

        enru: enru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&lg_ru &macro_param_1to1 &kp_unshift MACRO_PLACEHOLDER &lg_en>;
            label = "ENRU";
        };

        // basic editing
        my_caps_word: my_caps_word {
            compatible = "zmk,behavior-macro";
            label = "CAPS_WORD_CONTROLLABLE";
            #binding-cells = <0>;
            bindings = <&macro_press &kp RSHFT>;
        };
        in_below: in_below {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp_unshift END &kp LS(RET)>;
            label = "IN_BELOW";
        };
        in_above: in_above {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp_unshift HOME &kp LS(RET) &kp UP>;
            label = "IN_ABOVE";
            wait-ms = <0>;
        };
        cmd_del_win: cmd_del_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp_unshift LS(HOME) &kp BSPC>;
            label = "CMD_DEL_WIN";
        };
        vim_esc: vim_esc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp_unshift ESC &switch_en>;
            label = "VIM_ESCAPE";
        };

        // insert strings (replace it before compile)
        str1: str1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp O &kp M &kp E &kp SPACE &kp S &kp T &kp R>;
            label = "INSERT_STRING_1";
        };
        str2: str2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp O &kp M &kp E &kp SPACE &kp S &kp T &kp R>;
            label = "INSERT_STRING_2";
        };
    };


    combos1 {
        compatible = "zmk,combos";
        combo_jz {
            timeout-ms = <1000>;
            layers = < 3>;
            key-positions = <49 56>; //fn+j+z
            bindings = <&long_press_recover 0 0>;
        };
        combo_xl {
            timeout-ms = <1000>;
            layers =< 3>;
            key-positions = <57 51>; //fn+x+l
            bindings = <&long_press_change 0 0>;
        };
        combo_b {
            timeout-ms = <1000>;
            layers =< 3>;
            //slow-release = <true>;
            key-positions = <60>; //fn+b
            bindings = <&out OUT_BAT>;
        };

        combo_win_l {
            timeout-ms = <1000>;
            layers =< 3>;
            //slow-release = <true>;
            key-positions = <68>; //fn+win
            bindings = <&long_press_fn_win 0 0>;
        };

        // switch to/from deefault without touching phisical switch

        combo_alt {
            bindings = <&to 0>;
            key-positions = <9 10>;
            layers = <0 1 2>;
        };

        combo_ansi {
            bindings = <&to 2>;
            key-positions = <11 12>;
            layers = <0 1 2>;
        };

    };

    td0 {
        compatible = "zmk,behavior-tap-dance";
        label = "TAPD_LAYER";
        #binding-cells = <1>;
        tapping-term-ms = <350>;
        bindings =<&mo 0>,<&mo 0>,<&mo 0>,<&mo 0>,<&to 0>;
    };
    ZMK_MACRO(bt_pair0, bindings = <&bt BT_PAIR 0>;)
    ZMK_MACRO(bt_pair1, bindings = <&bt BT_PAIR 1>;)
    ZMK_MACRO(bt_pair2, bindings = <&bt BT_PAIR 2>;)
    ZMK_MACRO(bt_pair3, bindings = <&bt BT_PAIR 3>;)
    ZMK_MACRO(bt_recon_0, bindings = <&bt BT_SEL 0>;)
    ZMK_MACRO(bt_recon_1, bindings = <&bt BT_SEL 1>;)
    ZMK_MACRO(bt_recon_2, bindings = <&bt BT_SEL 2>;)
    ZMK_MACRO(bt_recon_3, bindings = <&bt BT_SEL 3>;)



    bt_pair_0: bt_pair_0 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair0";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair0>, <&bt_recon_0>;
    };
    bt_pair_1: bt_pair_1 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair1";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair1>, <&bt_recon_1>;
    };
    bt_pair_2: bt_pair_2 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair2";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair2>, <&bt_recon_2>;
    };
    bt_pair_3: bt_pair_3 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair3";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair3>, <&bt_recon_3>;
    };

    behaviors {

        // unified navigation

        bspc_win: bspc_win {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_WIN";
            bindings = <&kp BSPC>, <&cmd_del_win>;
            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <0>;
        };

        ins_row: ins_row {
            compatible = "zmk,behavior-mod-morph";
            label = "INSERT_ROW";
            bindings = <&in_below>, <&in_above>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <0>;
        };

        // for my caps-word

        lt_unshift: lt_unshift {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_UNSHIFT";
            bindings = <&mo>, <&kp_unshift>;
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <100>;
        };
        up_no_rsft: up_no_rsft {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_IGNORING_RSHIFT";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp UP>;
            mods = <(MOD_RSFT)>;
            keep-mods = <0>;
        };
        down_no_rsft: down_no_rsft {
            compatible = "zmk,behavior-mod-morph";
            label = "DOWN_IGNORING_RSHIFT";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp DOWN>;
            mods = <(MOD_RSFT)>;
            keep-mods = <0>;
        };
        left_no_rsft: left_no_rsft {
            compatible = "zmk,behavior-mod-morph";
            label = "LEFT_IGNORING_RSHIFT";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp LEFT>;
            mods = <(MOD_RSFT)>;
            keep-mods = <0>;
        };
        right_no_rsft: right_no_rsft {
            compatible = "zmk,behavior-mod-morph";
            label = "RIGHT_IGNORING_RSHIFT";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp RIGHT>;
            mods = <(MOD_RSFT)>;
            keep-mods = <0>;
        };
    };

 keymap {
     compatible = "zmk,keymap";

  // phisical switch "mac"
  // Typing layer - Colemak with Curl and Angle mods
  0_COLEMAK_DH {
  bindings = <
        &kp_unshift ESC    &kp F1        &kp F2        &kp F3        &kp F4         &kp F5         &kp F6      &kp F7      &kp F8              &kp F9              &kp F10          &kp F11             &kp F12              &kp DEL
        &kp_unshift GRAVE  &kp N1        &kp N2        &kp N3        &kp N4         &kp N5         &kp N6      &kp N7      &kp N8              &kp N9              &kp N0           &kp_unshift MINUS   &kp_unshift EQUAL    &kp BSPC
        &kp TAB            &kp Q         &kp W         &kp F         &kp P          &kp B          &kp J       &kp L       &kp U               &kp Y               &kp_unshift SEMI &kp LBKT            &kp RBKT             &kp_unshift BSLH
        &mo 7              &kp A         &kp R         &kp S         &kp T          &kp G          &kp M       &kp N       &kp E               &kp I               &kp O            &kp_unshift SQT                          &kp_unshift RET
        &kp LSHFT          &kp X         &kp C         &kp D         &kp V          &kp Z          &kp K       &kp H       &kp_unshift COMMA   &kp_unshift DOT     &kp_unshift FSLH                                          &kp LSHFT
        &kp LCTRL          &kp RGUI      &kp LALT                                   &lt_unshift 6 SPACE                    &mo 4               &kp_unshift K_CMENU &kp LEFT         &kp UP              &kp DOWN             &kp RIGHT
        //
        &mo 2              &out OUT_BLE  &out OUT_24G  &out OUT_CHG  &out OUT_CHGD
            >;
        };

  // Typing layer - Jcuken
  1_JCUKEN {
  bindings = <
        &kp_unshift ESC  &kp F1        &kp F2        &kp F3        &kp F4         &kp F5         &kp F6      &kp F7      &kp F8       &kp F9      &kp F10     &kp F11           &kp F12           &kp DEL
        &kp GRAVE        &kp N1        &kp N2        &kp N3        &kp N4         &kp N5         &kp N6      &kp N7      &kp N8       &kp N9      &kp N0      &kp_unshift MINUS &kp_unshift EQUAL &kp BSPC
        &kp TAB          &kp Q         &kp W         &kp E         &kp R          &kp T          &kp Y       &kp U       &kp I        &kp O       &kp P       &kp LBKT          &kp RBKT          &kp_unshift BSLH
        &mo 7            &kp A         &kp S         &kp D         &kp F          &kp G          &kp H       &kp J       &kp K        &kp L       &kp SEMI    &kp SQT                             &kp_unshift RET
        &kp LSHFT        &kp Z         &kp X         &kp C         &kp V          &kp B          &kp N       &kp M       &kp COMMA    &kp DOT     &kp_unshift FSLH                                &kp LSHFT
        &kp LCTRL        &kp RGUI      &kp LALT                                   &lt_unshift 6 SPACE                    &mo 5        &kp_unshift K_CMENU      &kp LEFT    &kp UP            &kp DOWN          &kp RIGHT
        //
        XXX              &out OUT_BLE  &out OUT_24G  &out OUT_CHG  &out OUT_CHGD
            >;
        };

  // phisical switch "win"
  // Default ANSI layout, by Keychron
  // No modifications, no SpaceFN
  // Switch to it if you want to share the keyboard.
  2_NORMAL_ANSI {
  bindings = <
        &kp ESC    &kp F1        &kp F2        &kp F3        &kp F4         &kp F5         &kp F6      &kp F7      &kp F8       &kp F9      &kp F10     &kp F11     &kp F12      &kp DEL
        &kp GRAVE  &kp N1        &kp N2        &kp N3        &kp N4         &kp N5         &kp N6      &kp N7      &kp N8       &kp N9      &kp N0      &kp MINUS   &kp EQUAL    &kp BSPC
        &kp TAB    &kp Q         &kp W         &kp E         &kp R          &kp T          &kp Y       &kp U       &kp I        &kp O       &kp P       &kp LBKT    &kp RBKT     &kp BSLH
        &kp CAPS   &kp A         &kp S         &kp D         &kp F          &kp G          &kp H       &kp J       &kp K        &kp L       &kp SEMI    &kp SQT                  &kp RET
        &kp LSHFT  &kp Z         &kp X         &kp C         &kp V          &kp B          &kp N       &kp M       &kp COMMA    &kp DOT     &kp FSLH                             &kp RSHFT
        &kp LCTRL  &kp RGUI      &kp LALT                                   &kp SPACE                          &mt RALT K_CMENU &mo 3       &kp LEFT    &kp UP      &kp DOWN     &kp RIGHT
        //
        XXX        &out OUT_BLE  &out OUT_24G  &out OUT_CHG  &out OUT_CHGD
            >;
        };

  3_NORMAL_FN {
  bindings = <
                    //f1                    //f2                    //f3                                //f4                        //f5            //f6              //f7            //f8              //f9        //f10           //f11                         //f12
   &bootloader  &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC        &kp LG(TAB)                         &kp LG(E)               &kp C_AC_SEARCH     &kp LG(L)       &kp C_PREVIOUS  &kp C_PLAY_PAUSE    &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN        &kp C_VOLUME_UP      ___
        ___     &bt_pair_0 0 0          &bt_pair_1 0 0              &bt_pair_2 0 0                      &bt_pair_3 0 0          ___                 ___             ___             ___                 ___         ___         ___                      &kp C_AL_CALC        ___
        ___     ___                     ___                         ___                                 ___                     ___                 ___             ___             &kp INS             ___         ___         ___                      ___                  &kp PRINTSCREEN
        ___     ___                     ___                         ___                                 ___                     ___                 ___             ___             ___                 ___         ___         ___                                           ___
        ___     ___                     ___                         ___                                 ___                     ___                 ___             ___             ___                 ___         ___                                                       &kp LG(DOT)
        ___     ___                     ___                                ___                                                                                                      &kp RCTRL           ___         &kp HOME    &kp PG_UP                &kp PG_DN            &kp END
        //
        XXX     XXX                     XXX                         XXX                                 XXX
            >;
        };

  4_SIM_BASE {
  bindings = <
        ___              &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp LG(TAB)       &kp LG(E)         &kp C_AC_SEARCH    &kp LG(L)          &kp C_PREVIOUS    &kp C_PLAY_PAUSE  &kp C_NEXT       &kp C_MUTE        &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  ___
        ___              &bt_pair_0 0 0        &bt_pair_1 0 0        &bt_pair_2 0 0    &bt_pair_3 0 0    ___                ___                ___               ___               ___              ___               ___                &kp C_AL_CALC    ___
        ___              &kp_unshift EXCL      &kp_unshift LT        &kp_unshift EQUAL &kp_unshift GT    &kp_unshift GRAVE  &enru HASH         &kp_unshift LBKT  &kp_unshift UNDER &kp_unshift RBKT &kp_unshift AT    &str1              &str2            &kp_unshift PRINTSCREEN
        ___              &kp_unshift BSLH      &kp_unshift LPAR      &kp_unshift MINUS &kp_unshift RPAR  &kp_unshift PLUS   &kp_unshift PRCNT  &kp_unshift LBRC  &kp_unshift SEMI  &kp_unshift RBRC &kp_unshift CARET &kp_unshift DQT                     ___
        ___              &kp_unshift STAR      &kp_unshift COLON     &kp_unshift FSLH  &kp_unshift HASH  &my_caps_word      &kp_unshift DLLR   &kp_unshift PIPE  &kp_unshift TILDE &kp_unshift AMPS &kp_unshift QMARK                                     &kp_unshift LG(DOT)
        ___              ___                   ___                   ___                                                                                         &kp RCTRL         ___              &kp HOME          &kp PG_UP          &kp PG_DN        &kp END
        //
        XXX              XXX                   XXX                   XXX               XXX
            >;
        };

  5_SIM_RU {
  bindings = <
        ___              &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp LG(TAB)       &kp LG(E)         &kp C_AC_SEARCH    &kp LG(L)          &kp C_PREVIOUS    &kp C_PLAY_PAUSE  &kp C_NEXT       &kp C_MUTE        &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  ___
        ___              &bt_pair_0 0 0        &bt_pair_1 0 0        &bt_pair_2 0 0    &bt_pair_3 0 0    ___                ___                ___               ___               ___              ___               ___                &kp C_AL_CALC    ___
        ___              &kp_unshift EXCL      &ruen LT              &kp_unshift EQUAL &ruen GT          &ruen GRAVE        &kp_unshift HASH   &ruen LBKT        &kp_unshift UNDER &ruen RBKT       &ruen AT          &str1              &str2            &kp_unshift PRINTSCREEN
        ___              &kp_unshift BSLH      &kp_unshift LPAR      &kp_unshift MINUS &kp_unshift RPAR  &kp_unshift PLUS   &kp_unshift PRCNT  &ruen LBRC        &kp_unshift DLLR  &ruen RBRC       &ruen CARET       &kp_unshift AT                     ___
        ___              &kp_unshift STAR      &kp_unshift CARET     &kp_unshift PIPE  &ruen HASH        &my_caps_word      &ruen DLLR         &ruen PIPE        &ruen TILDE       &ruen AMPS       &kp_unshift AMPS                                      &kp_unshift LG(DOT)
        ___              ___                   ___                   ___                                                                                         &kp RCTRL         ___              &kp HOME          &kp PG_UP          &kp PG_DN        &kp END
        //
        XXX              XXX                   XXX                   XXX               XXX
            >;
        };

  6_NAVI {
  bindings = <
        ___           &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC        &kp LG(TAB)                         &kp LG(E)               &kp C_AC_SEARCH     &kp LG(L)         &kp C_PREVIOUS     &kp C_PLAY_PAUSE   &kp C_NEXT       &kp C_MUTE     &kp C_VOLUME_DOWN      &kp C_VOLUME_UP  ___
        ___           &kp F1                  &kp F2                      &kp F3                              &kp F4                  &kp F5              &kp F6            &kp F7             &kp F8             &kp F9           &kp F10        &kp F11                &kp F12          ___
        ___           &kp DEL                 &kp LC(LS(TAB))             &kp TAB                             &kp LC(TAB)             &vim_esc            &kp INS           &switch_en         &switch_ru         &ins_row         &kp DEL        &kp C_VOLUME_DOWN      &kp C_VOLUME_UP  &kp C_MUTE
        ___           &sk RGUI                &sk LALT                    &sk LCTRL                           &sk LSHFT               &kp RET             &left_no_rsft     &down_no_rsft      &up_no_rsft        &right_no_rsft   &kp BSPC       &kp LC(LG(LA(LCTRL)))                   ___
        &kp LC(Z)     &kp LC(X)               &kp LC(C)                   &kp LC(V)                           &kp RGUI                &my_caps_word       &kp_unshift HOME  &kp_unshift PG_DN  &kp_unshift PG_UP  &kp_unshift END  &cmd_del_win                                           &kp LG(DOT)
        ___           ___                     ___                         ___                                                                                                                  &kp RCTRL          ___              &kp HOME       &kp PG_UP              &kp PG_DN        &kp END
        //
        XXX           XXX                     XXX                         XXX                                 XXX
            >;
        };

  7_NUM {
  bindings = <
                      //f1                    //f2                    //f3                                //f4                        //f5            //f6              //f7            //f8              //f9              //f10        //f11                    //f12
        ___       &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC        &kp LG(TAB)                         &kp LG(E)               &kp C_AC_SEARCH     &kp LG(L)       &kp C_PREVIOUS  &kp C_PLAY_PAUSE    &kp C_NEXT        &kp C_MUTE   &kp C_VOLUME_DOWN        &kp C_VOLUME_UP      ___
        ___       &bt_pair_0 0 0          &bt_pair_1 0 0              &bt_pair_2 0 0                      &bt_pair_3 0 0          ___                 ___             ___             ___                 ___               ___          ___                      &kp C_AL_CALC        ___
        ___       &kp HOME                &kp UP                      &kp END                             &kp DEL                 &kp ESC             &kp KP_DIVIDE   &kp KP_N7       &kp KP_N8           &kp KP_N9         &kp KP_MINUS &kp KP_LPAR              &kp KP_RPAR          &kp PRINTSCREEN
        ___       &kp LEFT                &kp DOWN                    &kp RIGHT                           &kp BSPC                &kp KP_NLCK         &kp KP_MULTIPLY &kp KP_N4       &kp KP_N5           &kp KP_N6         &kp KP_PLUS  &kp KP_EQUAL                                  &kp KP_ENTER
        &kp LC(Z) &kp LC(X)               &kp LC(C)                   &kp LC(V)                           &kp RGUI                &my_caps_word       &kp KP_N0       &kp KP_N1       &kp KP_N2           &kp KP_N3         &kp KP_DOT                                                 &kp LG(DOT)
        ___       ___                     ___                                ___                                                                                                      &kp RCTRL           ___               &kp HOME     &kp PG_UP                &kp PG_DN            &kp END
        //
        XXX       XXX                     XXX                         XXX                                 XXX
            >;
        };

 };
};
