/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

&sk {
        release-after-ms = <60000>;
};
&lt {
        flavor = "balanced";
        tapping-term-ms = <280>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
        hold-trigger-on-release;
};

/ {
    ZMK_MACRO(recover, bindings = <&out OUT_RECOVER>;)
    ZMK_MACRO(change, bindings = <&out OUT_FN>;)
    ZMK_MACRO(fn_win, bindings = <&out OUT_FN_WIN>;)

    ZMK_MACRO(en_bootloader, bindings = <&bootloader>;)
    ZMK_MACRO1(MA,bindings=<&kp 0x770000>;)

    long_press_recover:l1 {
        compatible = "zmk,behavior-hold-tap";
        label = "l1";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&recover>, <&none>;
    };

    long_press_change:l2{
        compatible = "zmk,behavior-hold-tap";
        label = "lp_change";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&change>, <&none>;
    };
    long_press_bootloader:l3{
        compatible = "zmk,behavior-hold-tap";
        label = "lp_bootloader";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&en_bootloader>, <&none>;
    };
    long_press_fn_win:l4{
        compatible = "zmk,behavior-hold-tap";
        label = "lp_fn_win";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;
        bindings = <&fn_win>, <&none>;
    };

    macros {
        // basic editing
        cut_row: cut_row {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(DOWN) &kp LC(X)>;
            label = "CUT_ROW";
        };
        in_below: in_below {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END &kp LS(RET)>;
            label = "IN_BELOW";
        };
        in_above: in_above {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(RET) &kp UP>;
            label = "IN_ABOVE";
        };
        cut_row_m: cut_row_m {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LEFT) &kp LS(DOWN) &kp LG(X)>;
            label = "CUT_ROW_MAC";
        };
        in_below_m: in_below_m {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(RIGHT) &kp LS(RET)>;
            label = "IN_BELOW_MAC";
        };
        in_above_m: in_above_m {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LEFT) &kp LS(RET) &kp UP>;
            label = "IN_ABOVE_MAC";
        };
        cmd_del_win: cmd_del_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(HOME) &kp BSPC>;
            label = "CMD_DEL_WIN";
        };
        pgup_mac_macro: pgup_mac_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&key_on CAPS &kp UP &key_off CAPS>;
            label = "PGUP MAC MACRO";
            wait-ms = <0>;
            tap-ms = <0>;
        };
        pgdn_mac_macro: pgdn_mac_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&key_on CAPS &kp DOWN &key_off CAPS>;
            label = "PGDN MAC MACRO";
            wait-ms = <0>;
            tap-ms = <0>;
        };
        // ms excel in windows (us version)
        ins_row: ins_row {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LALT &none &none &none &none &none &none &none &none &none &none &kp H &kp I &kp R>;
            label = "INSERT_ROW_BELOW";
        };
        ins_col: ins_col {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LALT &none &none &none &none &none &none &none &none &none &none &kp H &kp I &kp C>;
            label = "INSERT_COLUMN_BELOW";
        };
        ins_sheet: ins_sheet {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LALT &none &none &none &none &none &none &none &none &none &none &kp H &kp I &kp S>;
            label = "INSERT_SHEET";
        };
        mv_sheet: mv_sheet {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LALT &none &none &none &none &none &none &none &none &none &none &kp O &kp H &kp R>;
            label = "RENAME_SHEET";
        };
        rm_row: rm_row {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LALT &none &none &none &none &none &none &none &none &none &none &kp H &kp D &kp R>;
            label = "DELETE_ROW";
        };
        rm_col: rm_col {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LALT &none &none &none &none &none &none &none &none &none &none &kp H &kp D &kp C>;
            label = "DELETE_COLUMN";
        };
        rm_sheet: rm_sheet {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LALT &none &none &none &none &none &none &none &none &none &none &kp H &kp D &kp S>;
            label = "DELETE_SHEET";
        };
        // insert strings (replace it before compile)
        str1: str1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp O &kp M &kp E &kp SPACE &kp S &kp T &kp R>;
            label = "INSERT_STRING_1";
        };
        str2: str2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp O &kp M &kp E &kp SPACE &kp S &kp T &kp R>;
            label = "INSERT_STRING_2";
        };
    };


    combos1 {
        compatible = "zmk,combos";
        combo_jz {
            timeout-ms = <1000>;
            layers = <4 5>;
            key-positions = <49 56>; //fn+j+z
            bindings = <&long_press_recover 0 0>;
        };
        combo_xl {
            timeout-ms = <1000>;
            layers =< 4 5>;
            key-positions = <57 51>; //fn+x+l
            bindings = <&long_press_change 0 0>;
        };
        combo_b {
            timeout-ms = <1000>;
            layers =< 4 5>;
            //slow-release = <true>;
            key-positions = <60>; //fn+b
            bindings = <&out OUT_BAT>;
        };

        combo_win_l {
            timeout-ms = <1000>;
            layers =< 4 5>;
            //slow-release = <true>;
            key-positions = <68>; //fn+win
            bindings = <&long_press_fn_win 0 0>;
        };

        // my personal combos added
        // CUA

        Ca {
            bindings = <&kp LC(A)>;
            key-positions = <56 59>;
            layers = <2>;
        };

        Cz {
            bindings = <&kp LC(Z)>;
            key-positions = <56 57>;
            layers = <2>;
        };

        Cv {
            bindings = <&kp LC(V)>;
            key-positions = <58 59>;
            layers = <2>;
        };

        Cx {
            bindings = <&kp LC(X)>;
            key-positions = <57 59>;
            layers = <2>;
        };

        Cy {
            bindings = <&kp LC(Y)>;
            key-positions = <56 58>;
            layers = <2>;
        };

        Cc {
            bindings = <&kp LC(C)>;
            key-positions = <57 58>;
            layers = <2>;
        };

        // language switching (standard Linux Caps/Shift-Caps)
        // you can set this behavior setting following xkb option: grp:shift_caps_switch

        // WE
        switch_us {
            bindings = <&kp CAPS>;
            key-positions = <30 31>;
            layers = <2>;
            require-prior-idle-ms = <150>;
        };

        // IO
        switch_ru {
            bindings = <&kp LS(CAPS)>;
            key-positions = <36 37>;
            layers = <2>;
            require-prior-idle-ms = <150>;
        };
    };

    td0 {
        compatible = "zmk,behavior-tap-dance";
        label = "TAPD_LAYER";
        #binding-cells = <1>;
        tapping-term-ms = <350>;
        bindings =<&mo 0>,<&mo 0>,<&mo 0>,<&mo 0>,<&to 0>;
    };
    ZMK_MACRO(bt_pair0, bindings = <&bt BT_PAIR 0>;)
    ZMK_MACRO(bt_pair1, bindings = <&bt BT_PAIR 1>;)
    ZMK_MACRO(bt_pair2, bindings = <&bt BT_PAIR 2>;)
    ZMK_MACRO(bt_pair3, bindings = <&bt BT_PAIR 3>;)
    ZMK_MACRO(bt_recon_0, bindings = <&bt BT_SEL 0>;)
    ZMK_MACRO(bt_recon_1, bindings = <&bt BT_SEL 1>;)
    ZMK_MACRO(bt_recon_2, bindings = <&bt BT_SEL 2>;)
    ZMK_MACRO(bt_recon_3, bindings = <&bt BT_SEL 3>;)



    bt_pair_0: bt_pair_0 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair0";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair0>, <&bt_recon_0>;
    };
    bt_pair_1: bt_pair_1 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair1";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair1>, <&bt_recon_1>;
    };
    bt_pair_2: bt_pair_2 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair2";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair2>, <&bt_recon_2>;
    };
    bt_pair_3: bt_pair_3 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair3";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair3>, <&bt_recon_3>;
    };

    behaviors {

        // HRM tunung
        //
        // Noticeable delay when tapping HRMs: Increase require-prior-idle-ms. As a rule of thumb, you want to set it to at least 10500/x where x is your (relaxed) WPM for English prose.3
        // False negatives (same-hand): Reduce tapping-term-ms (or disable hold-trigger-key-positions)
        // False negatives (cross-hand): Reduce require-prior-idle-ms (or set flavor to hold-preferred -- to continue using hold-trigger-on-release, you must apply this patch to ZMK
        // False positives (same-hand): Increase tapping-term-ms
        // False positives (cross-hand): Increase require-prior-idle-ms (or set flavor to tap-preferred, which requires holding HRMs past tapping term to activate

        hml: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM left side";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 34 35 36 37 38 39 40 41 42 48 49 50 51 52 53 54 55 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76>;
            hold-trigger-on-release;
        };
        hmr: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM right side";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 42 43 44 45 46 47 55 56 57 58 59 60 66 67 68 69 70 71 72 73 74 75 76>;
            hold-trigger-on-release;
        };
        hsl: hrm_left_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM left side shift";
            flavor = "hold-preferred";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <120>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 34 35 36 37 38 39 40 41 42 48 49 50 51 52 53 54 55 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76>;
            hold-trigger-on-release;
        };
        hsr: hrm_right_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM right side shift";
            flavor = "hold-preferred";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <120>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 42 43 44 45 46 47 55 56 57 58 59 60 66 67 68 69 70 71 72 73 74 75 76>;
            hold-trigger-on-release;
        };

        // sticky modtaps

        msk: mod_tap_sticky_key {
            compatible = "zmk,behavior-hold-tap";
            label = "mod-tap for OSSM";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            #binding-cells = <2>;
            bindings = <&kp>, <&sk>;
            hold-trigger-on-release;
        };

        // unified navigation

        home_mac: home_mac {
            compatible = "zmk,behavior-mod-morph";
            label = "HOME_MAC";
            bindings = <&kp LG(LEFT)>, <&kp LG(UP)>;
            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <0>;
        };

        end_mac: end_mac {
            compatible = "zmk,behavior-mod-morph";
            label = "END_MAC";
            bindings = <&kp LG(RIGHT)>, <&kp LG(DOWN)>;
            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <0>;
        };

        pgup_mac: pgup_mac {
            compatible = "zmk,behavior-mod-morph";
            label = "PGUP_MAC";
            bindings = <&pgup_mac_macro>, <&kp LG(LS(LBKT))>;
            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <0>;
        };

        pgdn_mac: pgdn_mac {
            compatible = "zmk,behavior-mod-morph";
            label = "PGDN_MAC";
            bindings = <&pgdn_mac_macro>, <&kp LG(LS(RBKT))>;
            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <0>;
        };

        bspc_win: bspc_win {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_WIN";
            bindings = <&kp BSPC>, <&cmd_del_win>;
            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <0>;
        };

        // lego blocks

        key_on: key_on {
            compatible = "zmk,behavior-key-toggle";
            label = "KEY_ON";
            #binding-cells = <1>;
        };

        key_off: key_off {
            compatible = "zmk,behavior-key-toggle";
            label = "KEY_OFF";
            #binding-cells = <1>;
            toggle-mode = "off";
        };

    };

 keymap {
     compatible = "zmk,keymap";

        // you can swap typing/gaming layers, but then you will need go change combo applickable layers

        // phisical switch "mac"
  0_typing_mac {
  bindings = <
        &kp ESC   &kp F1                 &kp F2                   &kp F3                              &kp F4                  &kp F5              &kp F6          &kp F7          &kp F8              &kp F9       &kp F10      &kp F11     &kp F12        &kp DEL
        &kp GRAVE &kp N1                 &kp N2                   &kp N3                              &kp N4                  &kp N5              &kp N6          &kp N7          &kp N8              &kp N9       &kp N0       &kp MINUS   &kp EQUAL      &kp BSPC
        &kp TAB   &kp Q                  &kp W                    &kp E                               &kp R                   &kp T               &kp Y           &kp U           &kp I               &kp O        &kp P        &kp LBKT    &kp RBKT       &kp BSLH
        &kp ESC   &hml LCTRL A           &hml LALT S              &hml LGUI D                         &hsl LSHFT F            &kp G               &kp H           &hsr LSHFT J    &hmr LGUI K         &hmr LALT L  &hmr LCTRL SEMI &kp SQT          &kp RET
        &kp LSHFT &kp Z                  &kp X                    &kp C                               &kp V                   &kp B               &kp N           &kp M           &kp COMMA           &kp DOT      &kp FSLH     &kp RSHFT
        &kp LCTRL &kp LALT               &kp LGUI                          &lt 7 SPACE                                                                                            &kp RGUI            &mo 5        &kp LEFT     &kp UP      &kp DOWN       &kp RIGHT
        //
        &mo 2       &out OUT_BLE            &out OUT_24G            &out OUT_CHG                        &out OUT_CHGD
            >;
        };

        1_gaming_mac  {
        bindings = <
        &kp ESC     &kp F1                  &kp F2                  &kp F3                              &kp F4                  &kp F5              &kp F6          &kp F7          &kp F8              &kp F9      &kp F10     &kp F11             &kp F12             &kp DEL
        &kp GRAVE   &kp N1                  &kp N2                  &kp N3                              &kp N4                  &kp N5              &kp N6          &kp N7          &kp N8              &kp N9      &kp N0      &kp MINUS           &kp EQUAL           &kp BSPC
        &kp TAB     &kp Q                   &kp W                   &kp E                               &kp R                   &kp T               &kp Y           &kp U           &kp I               &kp O       &kp P       &kp LBKT            &kp RBKT            &kp BSLH
        &kp CLCK    &kp A                   &kp S                   &kp D                               &kp F                   &kp G               &kp H           &kp J           &kp K               &kp L       &kp SEMI    &kp SQT                         &kp RET
        &kp LSHFT   &kp Z                   &kp X                   &kp C                               &kp V                   &kp B               &kp N           &kp M           &kp COMMA           &kp DOT     &kp FSLH    &kp RSHFT
        &kp LCTRL   &kp LALT                &kp LCMD                       &kp SPACE                                                                                                &kp RCMD            &mo 5       &kp LEFT    &kp UP              &kp DOWN            &kp RIGHT
        &none       &out OUT_BLE           &out OUT_24G             &out OUT_CHG                        &out OUT_CHGD
            >;
        };

        // phisical switch "win"
  2_typing_win {
  bindings = <
        &kp ESC   &kp F1                 &kp F2                   &kp F3                              &kp F4                  &kp F5              &kp F6          &kp F7          &kp F8              &kp F9       &kp F10      &kp F11     &kp F12        &kp DEL
        &kp GRAVE &kp N1                 &kp N2                   &kp N3                              &kp N4                  &kp N5              &kp N6          &kp N7          &kp N8              &kp N9       &kp N0       &kp MINUS   &kp EQUAL      &bspc_win
        &kp TAB   &kp Q                  &kp W                    &kp E                               &kp R                   &kp T               &kp Y           &kp U           &kp I               &kp O        &kp P        &kp LBKT    &kp RBKT       &kp BSLH
        &kp ESC   &hml LGUI A            &hml LALT S              &hml LCTRL D                        &hsl LSHFT F            &kp G               &kp H           &hsr LSHFT J    &hmr LCTRL K        &hmr LALT L  &hmr LGUI SEMI &kp SQT           &kp RET
        &kp LSHFT &kp Z                  &kp X                    &kp C                               &kp V                   &kp B               &kp N           &kp M           &kp COMMA           &kp DOT      &kp FSLH     &kp RSHFT
        &kp LCTRL &kp LGUI               &kp LALT                          &lt 6 SPACE                                                                                            &mt RALT K_CMENU    &mo 4        &kp LEFT     &kp UP      &kp DOWN       &kp RIGHT
        //
        &none       &out OUT_BLE           &out OUT_24G             &out OUT_CHG                        &out OUT_CHGD
            >;
        };

  3_gaming_win {
  bindings = <
        &kp ESC     &kp F1                  &kp F2                  &kp F3                              &kp F4                  &kp F5              &kp F6          &kp F7          &kp F8              &kp F9      &kp F10     &kp F11             &kp F12             &kp DEL
        &kp GRAVE   &kp N1                  &kp N2                  &kp N3                              &kp N4                  &kp N5              &kp N6          &kp N7          &kp N8              &kp N9      &kp N0      &kp MINUS           &kp EQUAL           &bspc_win
        &kp TAB     &kp Q                   &kp W                   &kp E                               &kp R                   &kp T               &kp Y           &kp U           &kp I               &kp O       &kp P       &kp LBKT            &kp RBKT            &kp BSLH
        &kp CLCK    &kp A                   &kp S                   &kp D                               &kp F                   &kp G               &kp H           &kp J           &kp K               &kp L       &kp SEMI    &kp SQT                         &kp RET
        &kp LSHFT   &kp Z                   &kp X                   &kp C                               &kp V                   &kp B               &kp N           &kp M           &kp COMMA           &kp DOT     &kp FSLH    &kp RSHFT
        &kp LCTRL   &kp LCMD                &kp LALT                       &kp SPACE                                                                                                &kp RALT            &mo 4       &kp LEFT    &kp UP              &kp DOWN            &kp RIGHT
        &none       &out OUT_BLE           &out OUT_24G             &out OUT_CHG                        &out OUT_CHGD
            >;
        };

  4_fn_win {
  bindings = <
                    //f1                    //f2                    //f3                                //f4                        //f5            //f6              //f7            //f8              //f9        //f10           //f11                         //f12
   &bootloader  &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC        &kp LG(TAB)                         &kp LG(E)               &kp C_AC_SEARCH     &kp LG(L)       &kp C_PREVIOUS  &kp C_PLAY_PAUSE    &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN        &kp C_VOLUME_UP      &trans
        &trans  &bt_pair_0 0 0          &bt_pair_1 0 0              &bt_pair_2 0 0                      &bt_pair_3 0 0          &trans              &trans          &trans          &trans              &trans      &trans      &trans                   &kp C_AL_CALC        &trans
        &trans  &trans                  &rm_sheet                   &rm_col                             &rm_row                 &trans              &trans          &trans          &kp INS             &trans      &trans      &str1                    &str2                &kp LC(LS(S))
        &trans  &mv_sheet               &ins_sheet                  &ins_col                            &ins_row                &trans              &trans          &trans          &trans              &trans      &trans      &trans                              &kp PSCRN
        &trans  &trans                  &trans                      &trans                              &trans                  &trans              &trans          &trans          &trans              &to 2       &to 3       &kp LG(DOT)
        &trans  &trans                  &trans                             &trans                                                                                                   &kp RCTRL           &trans      &kp HOME    &kp PG_UP                &kp PG_DN            &kp END
        //
        &none   &none                   &none                       &none                               &none
            >;
        };

  5_fn_mac {
  bindings = <
          //ESC         //f1                    //f2                //f3                                    //f4                //f5                //f6            //f7            //f8                //f9        //f10       //f11               //f12               //DEL
   &bootloader      &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC    &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS   &kp  C_AC_MAC_LAUNCH    &kp C_AC_SEARCH     &kp C_AL_LOCK   &kp C_PREVIOUS  &kp C_PLAY_PAUSE    &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN   &kp C_VOLUME_UP     &trans
        &trans      &bt_pair_0 0 0          &bt_pair_1 0 0          &bt_pair_2 0 0                      &bt_pair_3 0 0          &trans              &trans          &trans          &trans              &trans      &trans      &trans              &kp C_AC_SEARCH     &trans
        &trans      &trans                  &trans                  &trans                              &trans                  &trans              &trans          &trans          &kp INS             &trans      &trans      &str1               &str2               &kp LG(LS(N4))
        &trans      &trans                  &trans                  &trans                              &trans                  &trans              &trans          &trans          &trans              &trans      &trans      &trans                      &kp LG(LS(N3))
        &trans      &trans                  &trans                  &trans                              &trans                  &trans              &trans          &trans          &trans              &to 0       &to 1       &kp LC(LG(SPACE))
        &trans      &trans                  &trans                         &trans                                                                                                   &kp RCTRL           &trans      &kp HOME    &kp PG_UP           &kp PG_DN           &kp END
        //
        &none       &none                   &none                   &none                               &none
            >;
        };

  6_nav_win {
  bindings = <
                    //f1                    //f2                    //f3                                //f4                        //f5            //f6              //f7            //f8              //f9        //f10           //f11                         //f12
        &trans  &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC        &kp LG(TAB)                         &kp LG(E)               &kp C_AC_SEARCH     &kp LG(L)       &kp C_PREVIOUS  &kp C_PLAY_PAUSE    &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN       &kp C_VOLUME_UP      &trans
        &trans  &kp F1                  &kp F2                      &kp F3                              &kp F4                  &kp F5              &kp F6          &kp F7          &kp F8              &kp F9      &kp F10     &kp F11                 &kp F12              &trans
        &trans  &kp DEL                 &kp LC(LS(TAB))             &kp TAB                             &kp LC(TAB)             &kp LGUI            &kp INS         &cut_row        &in_above           &in_below   &kp DEL     &kp C_VOLUME_DOWN       &kp C_VOLUME_UP      &kp C_MUTE
        &trans  &sk LGUI                &sk LALT                    &sk LCTRL                           &sk LSHFT               &kp PSCRN           &kp LEFT        &kp DOWN        &kp UP              &kp RIGHT   &bspc_win   &kp LG(LC(LS(LALT)))                &kp PSCRN
        &trans  &kp LC(Z)               &kp LC(X)                   &kp LC(C)                           &kp LC(V)               &kp LC(Y)           &kp HOME        &kp PG_DN       &kp PG_UP           &kp END     &cmd_del_win &kp LG(DOT)
        &trans  &trans                  &trans                           &trans                                                                                                     &kp RCTRL           &trans      &kp HOME    &kp PG_UP               &kp PG_DN            &kp END
        //
        &none   &none                   &none                       &none                               &none
            >;
        };

        // assuming setting CapsLock as Globe and having F-keys as F-keys in MacOS settings
  7_nav_mac {
  bindings = <
                    //f1                    //f2                    //f3                                //f4                        //f5            //f6              //f7            //f8              //f9        //f10           //f11                         //f12
        &trans  &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC        &kp LG(TAB)                         &kp LG(E)               &kp C_AC_SEARCH     &kp LG(L)       &kp C_PREVIOUS  &kp C_PLAY_PAUSE    &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN      &kp C_VOLUME_UP      &trans
        &trans  &kp F1                  &kp F2                      &kp F3                              &kp F4                  &kp F5              &kp F6          &kp F7          &kp F8              &kp F9      &kp F10     &kp F11                &kp F12              &trans
        &trans  &kp DEL                 &kp LG(LS(LBKT))            &kp TAB                             &kp LG(LS(RBKT))        &kp LG(SPACE)       &kp INS         &cut_row_m      &in_above_m         &in_below_m &kp DEL     &kp C_VOLUME_DOWN      &kp C_VOLUME_UP      &kp C_MUTE
        &trans  &sk LCTRL               &msk LGUI LALT              &msk LALT LGUI                      &sk LSHFT               &kp LG(LS(N4))      &kp LEFT        &kp DOWN        &kp UP              &kp RIGHT   &kp BSPC    &none                               &kp PSCRN
        &trans  &kp LG(Z)               &kp LG(X)                   &kp LG(C)                           &kp LG(V)               &kp LG(LS(Z))       &home_mac       &pgdn_mac       &pgup_mac           &end_mac    &kp LG(BSPC) &kp LC(LG(SPACE))
        &trans  &trans                  &trans                           &trans                                                                                                     &kp RCTRL           &trans      &kp HOME    &kp PG_UP              &kp PG_DN            &kp END
        //
        &none   &none                   &none                       &none                               &none
            >;
        };

 };
};
