/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    ZMK_MACRO(recover, bindings = <&out OUT_RECOVER>;)
    ZMK_MACRO(change, bindings = <&out OUT_FN>;)
    ZMK_MACRO(fn_win, bindings = <&out OUT_FN_WIN>;)

    ZMK_MACRO(en_bootloader, bindings = <&bootloader>;)
    ZMK_MACRO1(MA,bindings=<&kp 0x770000>;)

    macro {

        delete_to_row_start: delete_to_row_start {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(HOME) &kp BSPC>;
            label = "DELETE_TO_ROW_START";
        };

        lg_tog_colemak: lg_tog_colemak {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tog 4 &kp LC(SPACE)>;
            label = "LG_TOG_COLEMAK";
        };

    };

    combos1 {
        compatible = "zmk,combos";

        combo_en_keep {
            bindings = <&kp LC(SPACE)>;
            key-positions = <9 10>;
            layers = <4>;
        };

        combo_ru_keep {
            bindings = <&kp LC(SPACE)>;
            key-positions = <10 11>;
            layers = <0 2>;
        };

        combo_en_switch {
            bindings = <&lg_tog_colemak>;
            key-positions = <9 10>;
            layers = <0 2>;
        };

        combo_ru_switch {
            bindings = <&lg_tog_colemak>;
            key-positions = <10 11>;
            layers = <4>;
        };

    };

    td0 {
        compatible = "zmk,behavior-tap-dance";
        label = "TAPD_LAYER";
        #binding-cells = <1>;
        tapping-term-ms = <350>;
        bindings =<&mo 0>,<&mo 0>,<&mo 0>,<&mo 0>,<&to 0>;
    };
    ZMK_MACRO(bt_pair0, bindings = <&bt BT_PAIR 0>;)
    ZMK_MACRO(bt_pair1, bindings = <&bt BT_PAIR 1>;)
    ZMK_MACRO(bt_pair2, bindings = <&bt BT_PAIR 2>;)
    ZMK_MACRO(bt_pair3, bindings = <&bt BT_PAIR 3>;)
    ZMK_MACRO(bt_recon_0, bindings = <&bt BT_SEL 0>;)
    ZMK_MACRO(bt_recon_1, bindings = <&bt BT_SEL 1>;)
    ZMK_MACRO(bt_recon_2, bindings = <&bt BT_SEL 2>;)
    ZMK_MACRO(bt_recon_3, bindings = <&bt BT_SEL 3>;)



    bt_pair_0: bt_pair_0 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair0";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair0>, <&bt_recon_0>;
    };
    bt_pair_1: bt_pair_1 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair1";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair1>, <&bt_recon_1>;
    };
    bt_pair_2: bt_pair_2 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair2";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair2>, <&bt_recon_2>;
    };
    bt_pair_3: bt_pair_3 {
        compatible = "zmk,behavior-hold-tap";
        label = "bt_pair3";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;  // delay amount in ms
        bindings = <&bt_pair3>, <&bt_recon_3>;
    };
    uc:user_custom {
        compatible = "zmk,behavior-key-press";
        label ="user_custom";
        #binding-cells =<1>;
    };

	keymap {
    	compatible = "zmk,keymap";

        // 0
        mac {
        bindings = <
        &kp ESC     &kp F1                  &kp F2                  &kp F3                              &kp F4                  &kp F5              &kp F6          &kp F7          &kp F8              &kp F9      &kp F10     &kp F11             &kp F12             &kp DEL
        &kp GRAVE   &kp N1                  &kp N2                  &kp N3                              &kp N4                  &kp N5              &kp N6          &kp N7          &kp N8              &kp N9      &kp N0      &kp MINUS           &kp EQUAL           &kp BSPC
        &kp TAB     &kp Q                   &kp W                   &kp E                               &kp R                   &kp T               &kp Y           &kp U           &kp I               &kp O       &kp P       &kp LBKT            &kp RBKT            &kp BSLH
        &kp CAPS    &kp A                   &kp S                   &kp D                               &kp F                   &kp G               &kp H           &kp J           &kp K               &kp L       &kp SEMI    &kp SQT                         &kp RET
        &kp LSHFT   &kp Z                   &kp X                   &kp C                               &kp V                   &lt 5 B             &kp N           &kp M           &kp COMMA           &kp DOT     &kp FSLH                                    &kp RSHFT
        &kp LCTRL   &uc LALT                &uc LCMD                       &kp SPACE                                                                                                &uc RALT            &mo 1       &kp LEFT    &kp UP              &kp DOWN            &kp RIGHT
        &mo 2       &out OUT_BLE            &out OUT_24G            &out OUT_CHG                        &out OUT_CHGD
            >;
        };

       // 1
        mac_fn  {
        bindings = <
          //ESC         //f1                    //f2                //f3                                    //f4                //f5                //f6            //f7            //f8                //f9        //f10       //f11               //f12               //DEL
   &bootloader      &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC    &kp LC(UP)                          &kp  LG(SPACE)          &kp C_AC_SEARCH     &kp LG(LC(Q))   &kp C_PREVIOUS  &kp C_PLAY_PAUSE    &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN   &kp C_VOLUME_UP     &trans
        &trans      &bt_pair_0 0 0          &bt_pair_1 0 0          &bt_pair_2 0 0                      &bt_pair_3 0 0          &trans              &trans          &trans          &trans              &trans      &trans      &trans              &kp C_AC_SEARCH     &trans
        &trans      &trans                  &trans                  &trans                              &trans                  &trans              &trans          &trans          &kp INS             &trans      &trans      &trans              &trans              &uc LG(LS(N4))
        &trans      &trans                  &trans                  &trans                              &trans                  &trans              &trans          &trans          &trans              &trans      &trans      &trans                      &trans
        &trans      &trans                  &trans                  &trans                              &trans                  &kp B               &trans          &trans          &trans              &trans      &trans                                  &uc LC(LG(SPACE))
        &trans      &trans                  &trans                         &trans                                                                                                   &kp RCTRL           &trans      &kp HOME   &kp PG_UP   &kp PG_DN    &kp END
        //
        &none       &none                   &none                   &none                               &none
            >;
        };

        // 2
        win {
        bindings = <
        &kp ESC     &kp F1                  &kp F2                  &kp F3                              &kp F4                  &kp F5              &kp F6          &kp F7          &kp F8              &kp F9      &kp F10     &kp F11             &kp F12             &kp DEL
        &kp GRAVE   &kp N1                  &kp N2                  &kp N3                              &kp N4                  &kp N5              &kp N6          &kp N7          &kp N8              &kp N9      &kp N0      &kp MINUS           &kp EQUAL           &kp BSPC
        &kp TAB     &kp Q                   &kp W                   &kp E                               &kp R                   &kp T               &kp Y           &kp U           &kp I               &kp O       &kp P       &kp LBKT            &kp RBKT            &kp BSLH
        &kp CAPS    &kp A                   &kp S                   &kp D                               &kp F                   &kp G               &kp H           &kp J           &kp K               &kp L       &kp SEMI    &kp SQT                         &kp RET
        &kp LSHFT   &kp Z                   &kp X                   &kp C                               &kp V                   &lt 6 B             &kp N           &kp M           &kp COMMA           &kp DOT     &kp FSLH                                    &kp RSHFT
        &kp LCTRL 	&kp LGUI               &kp LALT                      &kp SPACE              		                                                                                &kp RALT  	        &mo 3 		  &kp LEFT 	 &kp UP      &kp DOWN 	&kp RIGHT
        //
        &none       &out OUT_BLE           &out OUT_24G             &out OUT_CHG                        &out OUT_CHGD
            >;
        };

        // 3
        win_fn {
        bindings = <
                    //f1                    //f2                    //f3                                //f4                        //f5            //f6              //f7            //f8              //f9        //f10           //f11                         //f12
   &bootloader  &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC        &uc LG(TAB)                         &uc C_AL_MY_COMPUTER    &kp C_AC_SEARCH     &uc LG(L)       &kp C_PREVIOUS  &kp C_PLAY_PAUSE    &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN           &kp C_VOLUME_UP      &trans
        &trans  &bt_pair_0 0 0          &bt_pair_1 0 0              &bt_pair_2 0 0                      &bt_pair_3 0 0          &trans              &trans          &trans          &trans              &trans      &trans      &trans                      &kp C_AL_CALC        &trans
        &trans  &trans                  &trans                      &trans                              &trans                  &trans              &trans          &trans          &kp INS             &trans      &trans      &trans                      &trans               &uc PSCRN
        &trans  &trans                  &trans                      &trans                              &trans                  &trans              &trans          &trans          &trans              &trans      &trans      &trans                              &trans
        &trans  &trans                  &trans                      &trans                              &trans                  &kp B               &trans          &trans          &trans              &trans      &trans                                          &uc LG(DOT)
        &trans  &trans                  &trans                           &trans                                                                                                     &kp RCTRL           &trans      &kp HOME    &kp PG_UP    &kp PG_DN   &kp END
        //
        &none   &none                   &none                       &none                               &none
            >;
        };
        
        // 4
        colemak {
        bindings = <
        &trans      &trans                  &trans                  &trans                              &trans                  &trans              &trans          &trans          &trans              &trans      &trans      &trans              &trans              &trans
        &trans      &trans                  &trans                  &trans                              &trans                  &trans              &trans          &trans          &trans              &trans      &trans      &trans              &trans              &trans
        &kp TAB     &kp Q                   &kp W                   &kp F                               &kp P                   &kp G               &kp J           &kp L           &kp U               &kp Y       &kp SEMI    &kp LBKT            &kp RBKT            &kp BSLH
        &kp CAPS    &kp A                   &kp R                   &kp S                               &kp T                   &kp D               &kp H           &kp N           &kp E               &kp I       &kp O       &kp SQT                         &kp RET
        &kp LSHFT   &kp Z                   &kp X                   &kp C                               &kp V                   &trans              &kp K           &kp M           &kp COMMA           &kp DOT     &kp FSLH                                    &kp RSHFT
        &trans      &trans                  &trans                         &trans                                                                                                   &trans              &trans      &trans      &trans              &trans      &trans
        //
        &trans      &trans                  &trans                      &trans                               &trans
            >;
        };

        // 5
        mac_navi {
        bindings = <
                      //f1                    //f2                    //f3                                //f4                        //f5            //f6              //f7            //f8              //f9                  //f10           //f11                         //f12
   &bootloader    &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC        &kp LC(UP)                          &kp LG(SPACE)           &kp C_AC_SEARCH     &kp LG(LC(Q))   &kp C_PREVIOUS  &kp C_PLAY_PAUSE    &kp C_NEXT            &kp C_MUTE  &kp C_VOLUME_DOWN        &kp C_VOLUME_UP      &trans
        &trans    &kp F1                  &kp F2                      &kp F3                              &kp F4                  &kp F5              &kp F6          &kp F7          &kp F8              &kp F9                &kp F10     &kp F11                  &kp F12              &trans
        &trans    &kp BSPC                &kp LG(LS(LBKT))            &kp TAB                             &kp LG(LS(RBKT))        &kp LG(SPACE)       &kp LS(F10)     &kp LG(LEFT)    &kp UP              &kp LG(RIGHT)         &kp PG_UP   &none                    &none                &uc LG(LS(N3))
        &trans    &kp LCTRL               &uc LCMD                    &kp LALT                            &kp LSHFT               &kp LG(LS(N4))      &kp LA(SPACE)   &kp LEFT        &kp DOWN            &kp RIGHT             &kp PG_DN   &kp LC(LG(SPACE))                   &trans
        &trans    &kp LG(Z)               &kp LG(X)                   &kp LG(C)                           &kp LG(V)               &kp LG(LS(Z))       &kp RET         &kp BSPC        &kp DEL             &kp LG(BSPC)          &kp ESC                                            &uc LC(LG(SPACE))
        &trans    &trans                  &trans                           &kp TAB                                                                                                    &trans              &trans                &kp HOME    &kp PG_UP    &kp PG_DN   &kp END
        //
        &none     &none                   &none                       &none                               &none
            >;
        };

        // 6
        win_navi {
        bindings = <
                      //f1                    //f2                    //f3                                //f4                        //f5            //f6              //f7            //f8              //f9                  //f10           //f11                         //f12
   &bootloader    &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC        &uc LG(TAB)                         &uc C_AL_MY_COMPUTER    &kp C_AC_SEARCH     &uc LG(L)       &kp C_PREVIOUS  &kp C_PLAY_PAUSE    &kp C_NEXT            &kp C_MUTE  &kp C_VOLUME_DOWN           &kp C_VOLUME_UP      &trans
        &trans    &kp F1                  &kp F2                      &kp F3                              &kp F4                  &kp F5              &kp F6          &kp F7          &kp F8              &kp F9                &kp F10     &kp F11                     &kp F12              &trans
        &trans    &kp DEL                 &kp LC(LS(TAB))             &kp TAB                             &kp LC(TAB)             &kp LGUI            &kp LS(F10)     &kp HOME        &kp UP              &kp END               &kp PG_UP   &trans                      &trans               &uc PSCRN
        &trans    &kp LGUI                &kp LALT                    &kp LCTRL                           &kp LSHFT               &kp PSCRN           &kp LS(LG(LC(LALT))) &kp LEFT   &kp DOWN            &kp RIGHT             &kp PG_DN   &kp LG(DOT)                         &trans
        &trans    &kp LC(Z)               &kp LC(X)                   &kp LC(C)                           &kp LC(V)               &kp LS(LC(Z))       &kp RET         &kp BSPC        &kp DEL             &delete_to_row_start  &kp ESC                                         &uc LG(DOT)
        &trans    &trans                  &trans                           &kp TAB                                                                                                    &trans              &trans                &kp HOME    &kp PG_UP    &kp PG_DN   &kp END
        //
        &none     &none                   &none                       &none                               &none
            >;
        };

        // 7
        seventh {
        bindings = <
                    //f1                    //f2                    //f3                                //f4                        //f5            //f6              //f7            //f8              //f9        //f10           //f11                         //f12
        &trans  &trans                  &trans                      &trans                              &trans                  &trans              &trans          &trans          &kp INS             &trans      &trans      &trans                      &trans               &trans
        &trans  &trans                  &trans                      &trans                              &trans                  &trans              &trans          &trans          &kp INS             &trans      &trans      &trans                      &trans               &trans
        &trans  &trans                  &trans                      &trans                              &trans                  &trans              &trans          &trans          &trans              &trans      &trans      &trans                      &trans               &trans
        &trans  &trans                  &trans                      &trans                              &trans                  &trans              &trans          &trans          &trans              &trans      &trans      &trans                              &trans
        &trans  &trans                  &trans                      &trans                              &trans                  &trans              &trans          &trans          &trans              &trans      &trans                                          &trans
        &trans  &trans                  &trans                           &trans                                                                                                     &trans              &trans      &trans      &trans       &trans      &trans
        //
        &none   &none                   &none                       &none                               &none
            >;
        };

	};
};


